co = "!git checkout"

review = "!git diff --cached $against | grep -E '^\+.*(debugger|exit|fixme|todo).*' -i"
add-review = "!git add . && !git review"
review-long = "!git add-review >> ~/Downloads/review.txt"

code-changes = "!git log --format=format: --name-only | egrep -v '^$' | sort | uniq -c | sort -rg | head -10"
cc = "!git code-changes"
